<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light " >
  <div class="container-fluid">

    
      <div class="logoImgName">
        <div class="logoName">
          <h2 id="logotitulo">RestoredHouse</h2>
        </div>
        <div id="logoimgagem">
          <img class="imglogo" src="../../assets/logo/pedreiro.jpg" alt="">
        </div>
      </div>

   

    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target=".navbar-collapse"
      aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end " [ngClass]="{ show: isExpanded }">
      <ul class="navbar-nav flex-grow">
        <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link text-light " [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-light" [routerLink]="['/servicos']">Serviço</a>
        </li>
        
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-light" [routerLink]="['/quem-somos']">Quem somos</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-light" [routerLink]="['/contatos']">Contatos</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-light" [routerLink]="['/trabalho']">Trabalhos realizados</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-light" [routerLink]="['/feedback']">Feedback</a>
        </li>
      </ul>
    </div>
  </div>
</nav>