
#paraCima{
   
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px;
    justify-content: center;
}


#indicaParaCima{
    right: 10px;
    bottom: 10px;
    text-align: center;
}

.rodapeStyle{
    background-color:#61685d;
}